.sidebar {
  max-width: 300px;
  width: 100%;
  height: calc(100vh - 20px);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  border-radius: 24px;
  transition: max-width .5s ease-out;

  &__header {
    margin: 0 0 30px 0;
    display: flex;
    align-items: center;

    position: relative;
  }
  &__logo {
    display: block;
    width: 40px;
    height: 40px;
  }
  &__title {
    margin: 0 0 0 10px;
    width: 100%;
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    animation: fadeInFromNone .3s ease-out;
  }
  &__navigation {
    margin: 0 0 auto 0;
  }
  &__button {
    padding: 0;
    width: 25px;
    heighT: 25px;
    position: absolute;
    right: -30px;
    background-color: #242424;
    color: #ffffff;
    border-radius: 50%;
    border: 0;
    outline: 0;
    cursor: pointer;
    animation: rotateArrowBack 1s ease-out;
  }
  &__bottom {
    margin: auto 0 0 0;
    flex-grow: 0;

  }
}
.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  &__item {
    padding: 10px;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .3s;
    &:hover,
    &:active {
      background-color:#242424;
    }
  }
  &__route {
    margin: 0 0 0 30px;
    animation: fadeInFromNone .3s ease-out;
  }
  &__icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }
}
.opened {
  max-width: 80px;
  width: 100%;

  transition: max-width .5s ease-in;
}

.opened .sidebar__logo {
  width: 40px;
  height: 40px;
}
.opened .navigation__item {
  width: 40px;
  height: 40px;
  justify-content: start;
}
.opened .navigation__route {
  display: none;
  animation: fadeOutFromBlock .3s linear;
}
.opened .sidebar__title {
  display: none;

  animation: fadeOutFromBlock .3s linear;
}
.opened .sidebar__button {
  right: -70px;
  animation: rotateArrow 1s ease-out;
  background-color:black;
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
    width: 0;
  }
  30% {
    display: block;
    opacity: 0;
    width: 100%;
  }
  70% {
    display: block;
    opacity: 0;
    width: 100%;
  }

  80% {
    opacity: .5;
  }

  100% {
    display: block;
    opacity: 1;
    width: 100%;
  }
}
@keyframes fadeOutFromBlock {
  0% {
    display: block;
    opacity: 1;
    width: 100%;
  }
  70% {
    display: block;
    opacity: 0;
    width: 30%;
  }
  100% {
    display: none;
    opacity: 0;
    width: 0;
  }
}

@keyframes rotateArrow {
  0% {
    right: -30px;
    transform: rotate(180deg);
  }
  30% {
    right: -30px;
    transform: rotate(180deg);
  }
  70% {
    right: -30px;
    transform: rotate(180deg);
  }
  100% {
    right: -70px;
    transform: rotate(360deg);
  }
}

@keyframes rotateArrowBack {
  0% {
    right: -70px;
    transform: rotate(180deg);
  }
  30% {
    right: -30px;
    transform: rotate(180deg);
  }
  70% {
    right: -30px;
    transform: rotate(180deg);
  }
  100% {
    right: -30px;
    transform: rotate(360deg);
  }
}
